$break-small: 500px;
$font-theme: "Helvatica", "Courier New", Courier;
$font-color: #181515;
$bg-color: #ffffff;
$color-theme-first:#4fd5ff;
$color-theme-second:#8fe994;
$color-theme-third:#005e71;


* {
    margin: 0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color:$bg-color;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me {
    background-color: $bg-color;
}


.title {
    margin-top: 20px;
    font-family: $font-theme;
    font-weight: 700;
    font-size: 5vw;
    text-align: center;
    color:$font-color;
}
.desc {
    color: $font-color;
}

.top-header{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30vh;
    background: linear-gradient(90deg, $color-theme-third 0%,$color-theme-first 46%, $color-theme-second 100%);
    filter: blur(100px);
}

.profile-pic {
    display: block;
    border-radius: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 30vh;
    margin: auto;
    z-index: 2;
}
.contact-icons{
    margin-top: -250px;
    white-space:nowrap;
}
.icon{
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    &:hover{
       transform: scale(1.5); 
    }
}

.section-footer{
    position: absolute;;
    bottom:0;
}
.scroll-down-arrow {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $font-color;
    fill: none;
    height: 50px;
    width: 24px;
    animation-name: scrollDownAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes scrollDownAnim {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

//      PROJECTS SECTION
.projects{
    background-color: $color-theme-third;
}

.project-object{
    display: grid;
    background-color: $color-theme-second;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: auto;
    grid-template-areas: 
    "project-image project-title project-title"
    "project-image project-desc project-desc"
    "project-image project-desc project-desc";
}
.project-image{
    grid-area: project-image;
}
.project-title{
    grid-area: project-title;
    font-size: 30px;
    background-color: $color-theme-first;
    color: white;
}
.project-desc{
    grid-area: project-desc;
    font-size: 15px;
}
